body {
  font-family: "Poppins", sans-serif;
}

.logo {
  margin-top: 1rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0.5rem;
}

h2 {
}

.app-desc {
  text-align: center;
  font-size: 1rem;
  line-height: 1.5rem;
}

.main-body {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  padding: 0.5rem;
}

.search-lyrics {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

input {
  width: 100%;
  border-radius: 0.3rem;
  outline-width: 0px;
}

.search-container {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: flex-start;
  gap: 1rem;
}

.search-btn {
  border-radius: 0.3rem;
  border-width: 1px;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.lyrics {
  position: relative;
  height: 400px;
  max-height: 400px;
  width: 100%;
  overflow-y: scroll;
  border-radius: 0.3rem;
  border-width: 1px;
  padding: 1rem;
  font-size: 0.8rem;
  line-height: 1.25rem;
}

.copy-lyrics {
  position: absolute;
  top: 1rem;
  right: 1rem;
  z-index: 1000;
  border-radius: 0.3rem;
  border-width: 1px;
}

.display-lyrics {
  white-space: pre-line;
}
